*{
    margin: 0;
}
/* Common */
body {
    background-color: lightgrey;
    padding: 0px;
    font-family: sans-serif;
}
.btn {
    margin: 0px 3px;
    border: 1px solid lightgray;
    padding: 7px 10px;
    border-radius: 5px;
}
.blueBg {
    background-color: #22AFF5;
    color: white;
}
.purpleBg{
    background-color: #AB5DE6;
    color: white;
}
.greenBg{
    background-color: #95E2D5;
    color: white;
}
.orangeBg{
    background-color: #FFBF5C;
    color: white;
}
.whiteBtn {
    color: rgb(103, 103, 103);
}
.agendaLI {
    list-style-type: none;
    font-weight: bold;
    font-size: large;
}
.taskLI {
    list-style-type: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
}
.Checkpos {
    width: 8px;
    height: 8px;
    margin: 5px 10px;
    border: 1px solid green;
    font-size: 10px;
    border-radius: 20px;
    padding: 0px 4px 8px 4px;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    color: green;
}
.Checkneg {
    width: 8px;
    height: 8px;
    margin: 5px 10px;
    border: 1px solid red;
    font-size: 10px;
    border-radius: 20px;
    padding: 0px 4px 8px 4px;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    color: red;
}
.taskTag {
    margin: 0px 5px;
    line-height: 15px;
    padding: 5px;
    border-radius: 15px;
    font-size: 11px;
}

/* Layout */
.container {
    width: 80%;
    margin: 5% auto;
    background-color: white;
    border-radius: 5px;
}
.navbar {
    background-color: white;
    padding: 10px 20px;
}
.menuBar {
    padding: 1em 3em;
    border-bottom: 1px solid lightgrey;
}
h1 {
    font-weight: bolder;
}
.list {
    padding: 2em 1em;
}
ul {
    padding:0;
}